chatgpt4o-image-generator-tool/GPT_Image_API_Tool.json
{
  "name": "GPT Image API Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -220
      ],
      "id": "549f60e8-1ae4-492a-9979-1dbc0933646d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{  $binary.data0  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7391f972-d51e-4e34-8576-221150f0791e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25eb69f8-7543-4045-bee2-f781916bdd0f",
                    "leftValue": "={{  $binary.data0  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -120,
        -220
      ],
      "id": "6920774c-6ce6-40b4-9ca8-7802c95dd390",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        540,
        -220
      ],
      "id": "35e01942-f23f-452c-bcf5-f9bb09464d2c",
      "name": "Convert to File",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        740,
        -220
      ],
      "id": "2b77ca85-70a9-4c0e-a300-d3ba81251a90",
      "name": "Execution Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ca15f3b-ff33-42c4-927d-3cb9bbd1f31c",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        -220
      ],
      "id": "3adf07ed-ff01-409e-b123-e5ff190c7a73",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <insert bearer token>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-image-1\",\n  \"prompt\": \"{{ $json.query }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        -220
      ],
      "id": "22176214-cc36-40d1-bd5e-66c1a0ed28df",
      "name": "CHATGPT Image API",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## OpenAI ChatGPT Image model\n**Clone this node and change the api url if you want to use a different image generating model",
        "height": 280,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        -320
      ],
      "typeVersion": 1,
      "id": "13ce1795-461e-409e-b027-a55a6da2a254",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CHATGPT Image API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CHATGPT Image API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHATGPT Image API": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8aa009ca-0eb8-43b7-b94f-06592dd041ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7168fb9578dead54be3b29a8e385b74a2d0abfc28c57e8b7b5b43f7aeb835881"
  },
  "id": "0tjASGeLiKjphA1W",
  "tags": []
}